body{
	position: relative;
	height: 100%;
	
}

h1, 
h2{
	text-align:center;
	color: #3c763d;
}

a,button,input,textarea {
outline: none !important;
}

li{
	list-style-type:none;
}

/*#mainload{
	margin-left: 180px;
}*/

#map{
	margin-top:50px;
	width:100%;
	border-radius:0;
	z-index: 200;
	border-bottom: 2px solid #3c3c3c;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	overflow: hidden;	
}

#map.cl1{
	/*height:939px;*/
	position:relative;
/*
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
*/
}



 #map.cl2{
	height:225px;
	position:absolute !important; 

/*
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
*/
}

#preLoader{
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100%;
	display: inline-block;
}

#preLoader > img {
	position: fixed;
	top: 50%;
	left: 50%;
}

.content{
	/*margin-top:600px;*/
}


.border{
	position:relative;
	/*border-radius:5px;*/
	/*border: 1px solid black;*/
	padding:15px;
}	

.filters{
	width: 100% !important;
	margin-bottom: 5px !important;
}


.row > div, .cardProduct{
	background:#F5F5F5;	
	border: 1px solid #D9D9D9;
	bottom:0;
	margin: -1px;
  	width: 33%;
	transition:bottom 1s, box-shadow 1s;
}

/* .levels2{
	width: 295px !important;
	height: 850px;
} */

/* .row > div:hover{
	bottom:10px;
	box-shadow:0px 10px 15px 1px rgb(205, 205, 205);
} */

.result{
	display: block;
	color: #3c763d;
	font-size: 17px;
}

.Picture{
	margin: 0 auto;
	height: 200px;
	width: 200px;
	text-align:center;
	padding:0;	
}

div.collSlide div{
	display:inline-table;
	float:left;
}

div.collSlide div.miniImgs{
	width:300px;
	margin:1px;
	text-align:center;
}

div.collSlide div.miniImgs img{
	max-width:150px;
	margin:10px;
	border:2px solid rgb(103, 103, 103);
	cursor:pointer;
}

.Picture img{
	max-height: 250px;
	max-width: 250px;
	cursor: pointer;
/*	-webkit-filter: drop-shadow(5px 5px 7px rgba(0,0,0,0.5));
    filter: url(shadow.svg#drop-shadow);
	border-image:url(gold-picture-frame.png) 81 83 82 84;
*/
}

.Description > figure figcaption{
	font-size:13px;
}

.Description form > div label{
	font-size:20px;
}

.heightCards{
	min-height: 1040px;
}

.heightCards form{
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 10px;
}

 .heightCards2{
	overflow: hidden;
}


a:-webkit-any-link{
	text-decoration: none;
}

.from-to{
	font-size:15px;
	padding:0;
	width: 42px;
  	display: inline-block;
}

/*.animation1{
	opacity:1;
	animation:animation1 2s;
	-webkit-animation:animation1 2s;
	-moz-animation:animation1 2s;
	-o-animation:animation1 2s;
}

.animation2{
	opacity:1;
	animation:animation1 3s;
	-webkit-animation:animation1 3s;
	-moz-animation:animation1 3s;
	-o-animation:animation1 3s;
}*/

@keyframes animation1{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-webkit-keyframes animation1{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes animation2{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-webkit-keyframes animation2{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.colors{
	margin:1px !important;
	padding:0 !important;
	border: 1px dotted #5cb85c;
	/*border-radius: 4px;*/
	transition:none !important;
	box-shadow:none !important;
	width:25px!important;
	cursor: pointer;
	overflow: hidden;
	height:25px;
	

	
}

 .colors:hover{
	bottom:0 !important;
	box-shadow:none !important;
	
} 

#color_343202f6-8062-11e0-b0fa-00221586ff02{
	background:#FFF;
}

#color_343202f7-8062-11e0-b0fa-00221586ff02{
	background:#999;
}

#color_5d16df66-a2e1-11e0-b3bf-00221586ff02{
	background:#5F392F;
}

#color_34320307-8062-11e0-b0fa-00221586ff02{
	background:#AE474B;
}

#color_34320305-8062-11e0-b0fa-00221586ff02{
	background:#FF7596;
}

#color_34320306-8062-11e0-b0fa-00221586ff02{
	background:#FF5454;
}

#color_34320304-8062-11e0-b0fa-00221586ff02{
	background:#FFBA00;
}

#color_34320303-8062-11e0-b0fa-00221586ff02{
	background:#FFFF60;
}

#color_98f49b6e-fadb-11e0-ae1e-00221586ff02{
	background:#A900FF;
}

#color_343202fc-8062-11e0-b0fa-00221586ff02{
	background:#00AA00;
}

#color_343202fb-8062-11e0-b0fa-00221586ff02{
	background:#B4DCA2;
}

#color_34320302-8062-11e0-b0fa-00221586ff02{
	background:#BAFF9C;
}

#color_343202f8-8062-11e0-b0fa-00221586ff02{
	background:#909090;
}

#color_343202fd-8062-11e0-b0fa-00221586ff02{
	background:#41DACF;
}

#color_e25fcf96-d875-11e0-80f7-00221586ff02{
	background:#A9D8FF;
}

#color_343202fe-8062-11e0-b0fa-00221586ff02{
	background:#0D9EFF;
}

#color_343202ff-8062-11e0-b0fa-00221586ff02{
	background:#254AFF;
}

#color_34320300-8062-11e0-b0fa-00221586ff02{
	background:#1818B1;
}

#color_34320301-8062-11e0-b0fa-00221586ff02{
	background:#9700FF;
}

#color_34320308-8062-11e0-b0fa-00221586ff02{
	background:#D3B3D3;
}

#color_f68d0744-379a-11e2-a7fb-00221586ff02{
	background:#F3E2F7;
}

#color_34320310-8062-11e0-b0fa-00221586ff02{
	background:#BFC5A2;
}

#color_ee983b65-f96c-11e0-ae1e-00221586ff02{
	background:#F5F5F5;
}

#color_d184ee6a-3e3c-11e4-a7a1-c86000ccad94{
	background:#1616AF;
}

#color_bb914b37-d448-11e3-a112-c86000ccad94{
	background:#B38D65;
}

#color_34320309-8062-11e0-b0fa-00221586ff02{
	background:#B18B63;
}

#color_3432030b-8062-11e0-b0fa-00221586ff02{
	background:#002137;
}

#color_3432030a-8062-11e0-b0fa-00221586ff02{
	background:#985B40;
}

#color_343202f9-8062-11e0-b0fa-00221586ff02{
	background:#EFDED6;
}

#color_343202fa-8062-11e0-b0fa-00221586ff02{
	background:#DCC5B3;
}

#filtr_color div img{
	opacity: 0;
}

.colorFilter{
	height: 176px;
}

#color_3432030f-8062-11e0-b0fa-00221586ff02 img, 
#color_3432030e-8062-11e0-b0fa-00221586ff02 img, 
#color_34320318-8062-11e0-b0fa-00221586ff02 img, 
#color_26a0af79-91c3-11e0-aa50-00221586ff02 img, 
#color_c65c7223-ce28-11e0-80f7-00221586ff02 img, 
#color_3432030c-8062-11e0-b0fa-00221586ff02 img, 
#color_3432030d-8062-11e0-b0fa-00221586ff02 img, 
#color_34320319-8062-11e0-b0fa-00221586ff02 img, 
#color_5d16df5a-a2e1-11e0-b3bf-00221586ff02 img{
	position: relative;
	bottom: 11px;
	width: 285px;
	height: 44px;
	opacity: 1 !important;

} 

#color_3432030f-8062-11e0-b0fa-00221586ff02 img{
	right: 163px;
}

#color_3432030e-8062-11e0-b0fa-00221586ff02 img{
	right: 132px;
}

#color_34320318-8062-11e0-b0fa-00221586ff02 img{
	right: 256px;
}

#color_26a0af79-91c3-11e0-aa50-00221586ff02 img{
	right: 100px;
}

#color_c65c7223-ce28-11e0-80f7-00221586ff02 img{
	right: 70px;
}

#color_3432030c-8062-11e0-b0fa-00221586ff02 img{
	right: 40px;
}

#color_3432030d-8062-11e0-b0fa-00221586ff02 img{
	right: 226px;
}

#color_34320319-8062-11e0-b0fa-00221586ff02 img{
	right: 194px;
}

#color_5d16df5a-a2e1-11e0-b3bf-00221586ff02 img{
	right: 7px;
}

.colorBorder{
	border: 2px solid green;
}

.pageNumber{
	margin-left: 24px;
	text-align: center;
	background:#F5F5F5;
	border: 1px solid #D9D9D9;
	width: 1588px;
	overflow: hidden;
  	padding-bottom: 5px;
}

.pageNumber li{
	cursor: pointer;
	font-size: 15px;
	text-decoration: none;
	display: inline;
	margin: -1px;
	padding: 15px 51px 15px 51px;
    border-right: 1px solid #D9D9D9;
}

.pageAActive{
	border: solid;
}

.pageNumberBorderLeft{
	border-left: 1px solid #D9D9D9;
}

.pageNumberInit, .pageNumberPoint{
	border: none !important;
	box-shadow: none !important;
}

.pageNumberInit input{
	border-radius: 5px;
	width: 40px;
  	height: 32px;
  	box-shadow: 0px 0px 2px 2px rgba(80, 169, 80, 0.31);
}

.pageNumberInit{
	text-decoration: none;
}

.arrowLeft, .arrowRight{
	display: inline;
	margin: 5px;
	font-size: 27px;
	cursor: pointer;
}


.dialogDis{
	display: none;
	opacity: 0;
	z-index: 201;
}

#dialog img{
	max-width: 100%;
	margin: 40px;
	margin-top: 90px;

}

#dialog hr{
	display: none;
}

#dialog > .priceBlock{
	display: none;
}

#dialog > .infoDialog{
	background:#F5F5F5;	
	box-shadow:0px 0px 10px 1px rgb(205, 205, 205);
	padding: 5px;
	font-size: 25px;
	min-height: 500px;
}

.infoDialog{
	min-height: 300px;
}

.ui-dialog-titlebar-close{
	display: none;
}

.ui-dialog{
	position: fixed;
	z-index: 999999;

}

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    left: 267px;
    top: 0;
    bottom: 0;
    margin-left: 15px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

.hint{
	position: absolute;
	right: 5px;
	top: 5px;
	border: 1px solid green;
	display: inline-block;
	padding: 1px;
	border-radius: 4px;
	cursor: pointer;
}

.secret{
	position: relative;    
	display: inline-block;
    bottom: 14px;
    left: 799px;
    width: 87px;
	height: 10px;
	background: rgba(0, 0, 0, 0);
}

.CancelFramework{
	position: relative;
	top: 5px;
	cursor: pointer;
	text-decoration: none;
	color: green;

}
.CancelFramework:hover{
	text-decoration: none;
	color: green;
}

.FilterTiles{
	height: 532px;
}

.pictureTiles{
	float: left;
	width: 140px;
	box-shadow: 0px 0px 10px 0px black;

}

.positionX{
	position: relative;
	top: 149px;
  	right: 150px;
  	width: 368px;
}

.positionX span{
	position: absolute;
	left: 215px;
  	top: 32px;
  	font-size: 18px;
}

#slider-tilesX{
	position: relative;
	top: 74px;
	left: 143px;
	width: 170px;
}

.positionY span{
	position: absolute;
	left: 215px;
	top: 52px;
	font-size: 18px;
}

.positionY{
	position: relative;
	top: 126px;
	right: 57px;
	width: 346px;
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

#slider-tilesY{
	position: relative;
	bottom: 6px;
	left: 216px;
	height: 170px;
}

.positionZ{
	position: relative;
	top: -74px;
	right: 150px;
	width: 368px;
}

.positionZ span{
	position: absolute;
	left: 218px;
	top: 75px;
	font-size: 18px;
}

.posInZ{
	position: relative;
	left: 142px;
	top: 61px;

}

#slider-tilesZ{
	position: relative;
	top: 44px;
  	left: 143px;
  	width: 170px;
}

#x1, #x2, #y1, #y2, #z1, #z2{
	padding-left: 10px;
}

.minImg{
	margin: 0 auto;
	text-align: center;
}

.arrImg{
	margin: 5px;
	margin-bottom: 20px;
	width: 10%;
  	border: 4px solid rgb(103, 103, 103);
  	border-radius: 4px;
  	cursor: pointer;
}

.bigImg{
	text-align: center;
}

.bigImg > img{
	border: 4px solid rgb(103, 103, 103);
  	border-radius: 4px;
}

 .closeImg{
	position: absolute;
	opacity: 0;
	display: none;
	cursor: pointer;

} 

.openImg{
	cursor: pointer;
	max-width:565px;
}

.opacityArrImg0{
	opacity: 0.5;
}

.opacityArrImg1{
	opacity: 1;
}

.slider{
	position: relative;
	right: 16px;
	background: #F5F5F5;
	border: 1px solid #D9D9D9;
	/*box-shadow: 0px 0px 10px 1px rgb(205, 205, 205);*/
	/*border-radius: 4px;*/
	padding-top: 30px;
	width: 807px;
	margin-bottom: 15px;
	margin-top: 49px;
}

.breadCrumbs{
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 25px;
}

.breadCrumbsA{
	display: inherit;
}


.clear{
	clear: both;

}

 /*.price{
	position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
} */

.priceBlock{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 150px;
}

.active {
	background: #94ef94;

}

.active:hover, .activeSelect{
	background: #39B273;

}

.focus, .active:active{
	background: #94ef94;

}

.subActive{
	background: #94ef94 !important;
}

.subActive:hover{
	background: #39B273 !important;
}

.ui-state-focus{
	border:1px solid #3c763d !important;
	background: rgba(241,245,228,0.56);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,245,228,0.56)), color-stop(100%, rgba(58,196,91,0.71)))!important;
	background: linear-gradient(to bottom, rgba(241,245,228,0.56) 0%, rgba(58,196,91,0.71) 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f5e4', endColorstr='#3ac45b', GradientType=0 )!important;

}

.pageNumberLavel2{
	height: 49px;
	padding-top: 13px;
}

.colorsNone{
	display: none;
}

.figcaption{
	height: 100%;
	position: relative;	
}

.opedDialog{
	position: relative;
	height: 100%;
	padding-bottom: 128px;
}

.inputColor{
	background: #39B273 !important;
	color: black;
}


.coll_name{
	text-align: center;
}

.item_collection{
	position: relative;
}

.resultsFilter{
	width: 1577px !important;
  	margin-left: 42px !important;
    border: none !important;
  	background: none !important;
}

.resultsFilter > div{
	background: #F5F5F5;
    border: 1px solid #D9D9D9;
    height: 100px;
    margin: -1px;
    position: relative;
}

.resultsFilter p{
	color: #3c763d;
}

.resultsFilter strong{
	font-size: 18px;
	color: #4BB859;
}

.resultsFilterNone{
	display: none;
}

.levels1{
	height: 453px !important;
}

.PictureLvel1{
	border-radius: 5px;
	text-align:center;
	margin:0 auto;
	padding:0;
	overflow: hidden;
  	height: 200px;
  	width: 80%

	
}

.PictureLvel1 img{
	position: relative;
	border-radius: 10px;
}

.filtrsLevel2{
	width: 19%;
}

.filterLeft, .pageNamberVertical, .filterLeftCon, .conDir{
	background: #F5F5F5;
  	border: 1px solid #D9D9D9;
}

.filterLeft, .pageNamberVertical{
  	min-height: 1063px;
  	
}

.pageNamberVertical{
	overflow: hidden;
}

.filterLeft, .filterLeft div{
	padding: 2px;
}

.filterLeft{
	padding-top: 40px;
	margin-right: 5px;
}

.filterLeftCon{
	height: 100%;
	overflow: hidden;
}

.filterLeftPad{
	padding: 15px;
    text-align: center;
}

.accordionStart{
	height:  123px;
	background: #F5F5F5;
}

.accordionStart:not(.accordionAktiv):hover{
	background: #94ef94;
}

.accordion{
	display: none;
}

.myBtn, .myBtnInfo, .myBtnVse, .myBtnStores{
	background: #94ef94 !important;
	color: #333333 !important;
	
}

 .myBtn:hover, .myBtnInfo:hover, .myBtnVse:hover, .myBtnStores:hover, .myBtnActive, .btnClose{
	background: #39b273 !important;
	
}

.myBtnInactive, .myBtn, .myBtnInfo, .myBtnVse, .myBtnStores{
	margin: 1px 0 1px 0;
	width: 100%;
	height: 50px;
	border-radius: 0px;
	border: 1px solid #D9D9D9 !important;
	font-size: 14px;

}

.btnClose, .btnClose:hover{
	color: #333333; 
}

.myBtnInactive{
	color: #333333 !important;
	background: #f7e78c !important;
}

.pageNamberVertical, .pageNamberVertical ul{
	width: 50px;
	text-align: center;
	padding: 0;
	margin: 0; 
}

.pageNamberVertical li{
	border-bottom: 1px solid #D9D9D9;
	margin: -1px;
	padding-top: 49px;
  	padding-bottom: 49px;
  	cursor: pointer;
}

.Point{
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
  	border-bottom: none !important;
  	border-top: none !important;
}

.pageNamberVerticalBorder{
	border-bottom: 1px solid #D9D9D9;
}


.blockFilterLeft{
	height: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	/*overflow: hidden;*/
	padding: 0;
	margin-left: 40px;
}

.text-shadow:after {
  content: "";
  position: absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0, rgba(162,162,162,0) 13%, rgba(245,245,245,1) 82%);
}

.text-shadow:hover:after{
	background: none;
}

.removSadow{
	cursor: pointer;
	font-size: 16px;
}
/* 
.centerBlock{
	margin-left: -16px;
} */

.search, .conDir{
	width: 807px;
  	height: 35px;
  	margin-bottom: 13px;
  	margin-left: -16px;
}

.search:focus{
	border: 2px solid #39b273;
	box-shadow: 0px 0px 0px 1px rgba(57,178,115,1);
}

.conDir{
	padding: 7px;
	text-align: center;
}



.accordionAktiv{
	background: #39b273;
}

.removeSadowClick:after{
	background: none !important;
}

.form-group strong{
	margin-bottom: 48px;
    margin-top: 60px;
	display: block;
}

.filtr_bay_region{
	padding-left: 10px;
	width: 387px !important;
	left: 0px;
	margin-bottom: 4px !important;
}

.filtr_bay_region input{
	width: 326px;
}

.filtr_bay_region .custom-combobox-toggle{
	left: 316px !important;
}

.inputRadio{
	color: #333;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	font-size: 16px;
}

.radio{
	margin-top: 30px !important;
}

.TheSelectionOfStores{
    margin-left: -3px !important;
    width: 387px !important;
    padding: 5px;
    margin-bottom: 0px !important;
    margin-top: -4px;
}

.TheSelectionOfStores label{
	margin-left: 10px;
	margin-top: 15px;
}

.TheSelectionOfStores button{
	margin-top: 6px;
}

.blockFilterRight{
	background: #F5F5F5;
    border: 1px solid #D9D9D9;
    bottom: 0;
    margin: 0 0 4px -16px;
    padding: 5px 18px 0px 20px;
    width: 127%;
    transition: bottom 1s, box-shadow 1s;

}

.blockFilterRight input{
	width: 278px;
}

.TradingGroup .custom-combobox, 
.TradingGroup .custom-combobox-toggle,
.trading .custom-combobox, 
.trading .custom-combobox-toggle{
	padding-bottom: 3px;
}

.TradingGroup span:nth-of-type(2) .focus,
.TradingGroup span:nth-of-type(2) .active,
.leftFilterBlock span:nth-of-type(2) .focus,
.leftFilterBlock span:nth-of-type(2) .active,
.brandKoleektsiya input, .brandKoleektsiya .active,
.brandKoleektsiya .focus{
	background: #f7e78c;
}

.leftFilterBlock{
	background: #F5F5F5;
    border: 1px solid #D9D9D9;
    bottom: 0;
    margin: 0 0 4px 0px;
    padding: 5px 18px 0px 20px;
    width: 397px;
}

.ShutdownFilter{
	width: 1174px;
}

.modal-body{
	text-align: center;
}

.modal-body .figcaption {
	text-align: left;
}

.imgModal{
	max-height: 500px;
	max-width: 500px;
	margin-bottom: 70px;
}

.imgFigcaption figcaption{
	font-size: 20px !important;
}

.pageNumberBackground{
	background: #94EF94;
}

.coll_—Åountry, .coll_brand, .coll_id, .coll_name{
	font-size: 14px;
    color: #464646;
}

.coll_id, .coll_name{
	cursor: pointer;
}

.ulDisplay{
	display: none !important;
}

.slidersImg{
	position: fixed;
	z-index: 99999;
	cursor: pointer;
}